.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .navbar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icons i {
    font-size: 1.2rem;
    margin-right: 15px;
  }
  
  .navbar-icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  